body{
	background-color: #F2FFFC;
}

h1, h2{
	font-family: "Arial", sans-serif;
<<<<<<< HEAD
	font-size: 100%;
}

h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 24px;
    font-size: 30px;
=======
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
>>>>>>> cd932ca87659c995ee93f25ec6e917d00d4eda32
}

p{
	text-align: justify;
	font-family: "Times New Roman", serif;
<<<<<<< HEAD
	margin: 0;
}

blockquote {
    padding: 16px;
    margin: 0;
    border: 10px solid #C2CCCA;
}

blockquote {
    padding: 16px;
    margin: 0;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
=======
>>>>>>> cd932ca87659c995ee93f25ec6e917d00d4eda32
}